.header {
    height: 78px;
    width: 100%;
    padding-top: 10px;
    position: fixed;
    top: 0;
    box-shadow: 0 4px 6px -6px #222;
    z-index: 1000;
    background-color: white;
}

.logoContainer {
    text-align: start;
}

.navbar{
    text-align: right;
}
