.topnavbar{
    color: grey;
    padding: 5px;
}

.navLink{
    text-decoration: none;
    color: black;
}

.navLink:hover{
    color: #c80808;
}

.active{
    color: #c80808;
}

.bottomnavbar{
    padding-top: 10px;
}

.link{
    text-decoration: none;    
    color: grey;
}

.link:hover{
    color: black;
}

.topnav{
    padding: 0;
}