.homepage {
    margin: 300px;
    margin-top: 5%;
}

.head {
    color: #c80808;
}

.flagship {
    margin-top: 50px;
}

.coe {
    margin-top: 50px;
}

.aboutus {
    margin-top: 50px;
}

.services {
    margin-top: 50px;
}

.para {
    text-align: center;
}